[user]
	email = "64106592+taylory-xyz@users.noreply.github.com "
	name = Taylor Yang
[filesystem "N/A|15.0.1|/dev/sda2"]
	timestampResolution = 7557 nanoseconds
	minRacyThreshold = 6527 microseconds
[github]
	user = taylory-xyz
[pull]
	rebase = false
